@import 'tw-animate-css';

/** Colors - https://tailwindcss.com/docs/colors **/
:root {
  --background: var(--color-white);
  --foreground: var(--color-zinc-950);
  --card: var(--color-white);
  --card-foreground: var(--color-zinc-950);
  --popover: var(--color-white);
  --popover-foreground: var(--color-zinc-950);
  --primary: #2c3e8a;
  --primary-foreground: var(--color-white);
  --secondary: #f27124;
  --secondary-foreground: var(--color-white);
  --muted: var(--color-zinc-100);
  --muted-foreground: var(--color-zinc-500);
  --accent: var(--color-orange-500);
  --accent-foreground: var(--color-white);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-white);
  --chart-1: var(--color-blue-500);
  --chart-2: var(--color-green-500);
  --chart-3: var(--color-yellow-500);
  --chart-4: var(--color-red-500);
  --chart-5: var(--color-purple-500);
  --border: oklch(94% 0.004 286.32);
  /* between --color-zinc-100 and --color-zinc-200 */
  --input: var(--color-zinc-200);
  --ring: var(--color-zinc-400);
  --radius: 0.5rem;
}

.dark {
  --background: #0b0e14;
  --foreground: var(--color-zinc-50);
  --card: #0f121a;
  --card-foreground: var(--color-zinc-50);
  --popover: #0f121a;
  --popover-foreground: var(--color-zinc-50);
  --primary: #2c3e8a;
  --primary-foreground: var(--color-white);
  --secondary: #f27124;
  --secondary-foreground: var(--color-white);
  --muted: #1a1e26;
  --muted-foreground: var(--color-zinc-400);
  --accent: #f27124;
  --accent-foreground: var(--color-white);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-white);
  --chart-1: var(--color-blue-500);
  --chart-2: var(--color-green-500);
  --chart-3: var(--color-yellow-500);
  --chart-4: var(--color-red-500);
  --chart-5: var(--color-purple-500);
  --border: #1a1e26;
  --input: #1a1e26;
  --ring: var(--color-zinc-600);
}

/** Theme Setup **/
@theme inline {
  /** Base Colors **/
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-mono: var(--mono);
  --color-mono-foreground: var(--mono-foreground);

  /** Base Styles **/
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/** Custom Font Size **/
@theme {
  --text-2sm: 0.8125rem;
  --text-2sm--line-height: calc(1.075 / 0.8125);

  --text-2xs: 0.6875rem;
  --text-2xs--line-height: calc(0.825 / 0.6875);
}